.container-explore {
    background-color: #27292d;
    display: flex;
}

.info-section {
    position: relative;
}

.info-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: sticky;
    top: 8%;

    overflow-y: auto;
}

.info-card-empty {
    position: sticky;
    top: 15%;
    display: flex;
    justify-content: center;
    align-items: center;

    padding-left: 1.3rem;
}

.card-img-info {
    display: flex;
}

.selected {
    animation: rotateY 300ms ease;
}

@keyframes rotateY {
    0% {
        transform: rotateY(180deg);
        filter: brightness(0);
    }

    50% {
        transform: rotateY(90deg);
    }

    100% {
        transform: rotateY(0deg);
    }
}

.info-card div {
    position: sticky;
    top: 0;
    padding: 1rem 0 0 0.5rem;
    height: auto;
}

.info-card-wrapper {
    display: flex;
    justify-content: center;
    gap: 2rem;

    font-size: 1.6rem;
}

.card-image:hover {
    transform: scale(1.8);
}

.info-wrapper {
    max-width: 60rem;
}

.library-card-select-title {
    color: #f2f2f2;
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
}

.info-card p {
    color: #f2f2f2;
    font-size: 1.6rem;
    padding-left: 2rem;
}

.library-card-select {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    padding-top: 2rem;

    font-size: 1.2rem;
}

.library-card-select p {
    font-size: 1.6rem;
}

.span {
    display: block;
    font-size: 1.3rem;
}

.grid-info-card {
    padding-left: 0;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
    column-gap: 1.5rem;

    color: #f2f2f2;

    list-style: none;
}

.grid-info-card div {
    display: flex;
    gap: 1.2rem;
    background-color: #1f1e1e;
    border-radius: 5px;
}

.grid-info-card div li{
    width: auto;
    background-color: none;
}

.card-list{
    background-color: #1f1e1e;
    padding: 0.5rem;
    border-radius: 5px;
    width: 19rem;
}

.grid-info-card li div {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    padding-top: 0.5rem;
}

.grid-info-card li div span {
    font-size: 1.6rem;
}

.grid-info-card p {
    width: 15rem;
}

/* ======= LIBRARY SECTION ======= */
.container-library {
    display: flex;
    justify-content: center;
}

.library-div {
    max-width: 90%;
}

.filter-card {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
    column-gap: 1rem;
    padding-top: 4.6rem;
}

.filter-card label span {
    display: block;
    color: #f2f2f2;
    font-weight: bold;
    font-size: 1.2rem;
}

.filter-card input {
    outline: none;
    border: none;
    border-radius: .4rem;

    height: 3.2rem;
    width: 12rem;

    padding-left: 0.5rem;
    margin-top: 0.5rem;
    color: #f2f2f2;

    background-color: #1f1e1e;
}

.filter-card input:focus {
    box-shadow: 0px 0px 2px #fff;
}

.grid-library {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

    padding-top: 2rem;
}

.card-library {
    cursor: pointer;
    transition: transform 300ms ease-in-out;
    filter: brightness(0.8);
}

.card-library:hover {
    transform: scale(1.1);
    filter: brightness(1);
    box-shadow: 0px 0px 20px #f2f2f2;
}

#card-library:active~.card-library {
    transform: rotateY(180deg);
}

.filter-card {
    grid-column: 3;
}