.crsl {
    transition: 300ms ease-in-out;
    border: 2px solid #fff;
    border-radius: 7px;
    display: block;
    filter: drop-shadow(0px 0px 10px #fff);
    transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.crsl img {
    display: block;
}

.carousel-slider {
    border-radius: 7px;
}

.zoom{
    overflow: hidden;
}

.zoom img{
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.zoom:hover img{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.carousel-status {
    display: none;
}

.legend {
    display: none;
}