#footer {
    background-image: url(../../img//border-sections.png);
    background-size: 100% 8px, 7rem;
    background-repeat: no-repeat, repeat;
    background-position: 30% 0, auto;

    background-color: #090222;
    color: #f2f2f2;
    height: auto;
    text-align: center;
    padding: 5.2rem 0 2rem;
    font-size: 2rem;

}

#footer ul {
    display: flex;
    gap: 2rem;
}

#footer li {
    cursor: pointer;
}

#footer-social-media{
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}

#footer p {
    font-size: 1.3rem;
    text-shadow: 1px 1px 12px #888d49;
}
