@import url(https://db.onlinewebfonts.com/c/a97dc52b4b2059e5f04907cb7492af0b?family=Handel+Gothic);

* {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
  font-family: "Handel Gothic", Helvetica, Arial, sans-serif;
}

/* tirar padding dos cards */
.css-46bh2p-MuiCardContent-root:last-child{
  padding-bottom: 0px !important;
}

.css-bhp9pd-MuiPaper-root-MuiCard-root{
  overflow: visible !important;
}
.css-s18byi{
  overflow: visible !important;
}

li{
  list-style-type: none;
}